body{
	font-family: 'Open Sans', sans-serif;
	background-color: #f1f1f1;
}
#menuContainer{
	background-color: #4d80a8;
	margin-top: 10px;
}
#navigation {
    list-style-type: none;
    margin: 0;

    padding: 0;
    overflow: hidden;
    background-color: #4d80a8;
    
}

 #navigation li {
    float: left;
}

#navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 9px 16px;
    text-decoration: none;
    font-weight: bold;
}

#navigation li a:hover {
    background-color:  #f8ce24;
    color: #777777;
}
.titre{
	font-size: 46pt;
	font-weight: bold;
	color: #777777;
	margin: 0;
}
.description{
	font-size: 16pt;
	text-align: center;
}
.active{
	background-color:#f8ce24;
}
#sliderphoto{
	background-color: #86adcc;
}
#telecharger{
	background-color: #e5e5e5;
	height: 100px;
}
#btntelecharger{
	width: 320px;
	height: 50px;
	margin-top: 20px;
	font-size: 24px;
	font-weight: bold;
}